.about{
  width: 95%;
  margin: auto;
  display: block;
  font-family: 'Poiret One', sans-serif;
}
.mat-h3{
  font-size: 30px;
  color: #ECD078;
  background-color: #542437;
  text-align: center;
}
.mat-img{
  width: 33.333%;
  max-width: 1200px;
  display: block;
  margin: 10px auto;
}
#background{
  content: "";
  clear: both;
  display: table;
  background-color: #C02942;
  padding-top: 10px;
}
.mat-list{
  display: block;
  border-radius: 15%;
  color: #ECD078;
  background-color: #53777A;
  height: 150px;
  width: 30%;
  vertical-align: top;
  box-sizing: border-box;
  margin: 0px;
  float: left;
  border: solid 1px black;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
  background-color: #C02942;
}
.mat-list:nth-child(odd){
  width: 31.333%;
  margin: 1%;
}
.mat-list:nth-child(even){
  width: 31.333%;
  margin: 1%;
}
.mat-p{
  padding: 5%;
}
@media screen and (max-width: 600px) {
  .mat-list{
    display: block;
    width: 100%;
  }
}



